.title {
  font-size: clamp(2.5rem, 4vw + 1rem, 5rem);
  max-width: 650px;
  text-align: center;
  background: linear-gradient(90deg, var(--primary-02) 60%, var(--primary-01));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (min-width: 768px) {
  .title {
    text-align: left;
  }
}
