.title {
  font-size: clamp(2.5rem, 4vw + 1rem, 8rem);
  margin: 0;
  text-align: center;
  background: radial-gradient(circle, var(--primary-02), var(--primary-01));
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-shading 2.5s ease-in-out infinite alternate;
}

@keyframes gradient-shading {
  from {
    background-position-x: 0%;
  }
  to {
    background-position-x: 100%;
  }
}

@media screen and (min-width: 768px) {
  .title {
    text-align: left;
  }
}
