.container {
  padding-top: 100px;
  padding-bottom: 100px;
}

.title,
.content {
  text-align: center;
}

.linksContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 20px;
}

.linkIcon {
  width: 1.7em;
  vertical-align: bottom;
}
