.container {
  min-height: 100vh;
  padding: 0 10%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  align-content: center;
  gap: 40px;
}

.outlineLogo path,
.outlineLogo polygon {
  stroke-dasharray: 1500;
  stroke-dashoffset: 1500;
  animation: logo-dash 3s linear infinite alternate;
}

@keyframes logo-dash {
  to {
    stroke-dashoffset: 0;
  }
}
