.container {
  min-height: 100vh;
  padding: 100px 10% 40px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
}

.leftBox {
  display: flex;
  flex-flow: column nowrap;
  gap: 40px;
}

.linksContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 20px;
  padding: 0 20px;
}

.outlineLogo {
  max-width: 350px;
}

.outlineLogo path,
.outlineLogo polygon {
  stroke-dasharray: 1500;
  stroke-dashoffset: 1500;
  animation: logo-dash 3s linear infinite alternate;
}

@keyframes logo-dash {
  to {
    stroke-dashoffset: 0;
  }
}

@media screen and (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }

  .linksContainer {
    grid-column: span 2;
    justify-content: left;
    padding: 0;
  }

  .outlineLogo {
    max-width: none;
  }
}
